{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Profile - FBoost{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">My Profile</h4>
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-3">
                        <strong>Username:</strong>
                    </div>
                    <div class="col-md-9">
                        {{ user.username }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-3">
                        <strong>Email:</strong>
                    </div>
                    <div class="col-md-9">
                        {{ user.email }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-3">
                        <strong>Date Joined:</strong>
                    </div>
                    <div class="col-md-9">
                        {{ user.date_joined|date:"F j, Y" }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="{% url 'settings' %}" class="btn btn-primary">
                            <i class="bi bi-gear"></i> Edit Profile Settings
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}